/* --- Pagination --- */
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    display: inline-block;
    text-align: center;
    //margin-bottom: 2em;
    width: 90%;
    clear: both;

    @media (max-width: 600px) {
        padding: $padding-small;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .page_number {
        display: inline-block;
        vertical-align: sub;

        @media (max-width: 254px) {
            display: none;
        }
    }

    .button {
        margin: 0em;
        display: inline-block;

        .fa {
            &.fa-chevron-right, &.fa-chevron-left {
                font-size: initial;
            }
        }

        i .fa-chevron-left .fa-chevron-right {
            vertical-align: inherit;
        }

        @media (max-width: $break) {
            display: table-cell;
        }
    }

    .previous {
        float: left;
    }

    .next {
        float: right;
    }
}
