.teams-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    .title{
        margin: 0;
        //position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: bottom;
    }
    .caption {
        margin: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;

        &::before {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        &:hover {
            opacity: 1;
        }

        .caption-content {
            font-size: 15px;
            color: white;
            text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
            display: inline-block;
            vertical-align: middle;

            @media screen and (max-width: $sm-break) {
                font-size: 7px;
            }
        }
    }
}

.teams-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.teams-cell {
  flex: 0 0 50%;
  margin-bottom: 10px;
}